<!DOCTYPE html>

{%extends 'base.html'%}
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">

</head>
<body>
{%block baseblock%}
  <h>you have been log our successfully!!..
    if u wish to login again click on the link given ..</h>
<a class="btn btn-primary btn-lg btn-success" href="auth/login">login</a>
<link rel="stylesheet" href="{%static 'css/demo.css'%}">
<center>
<img src="{%static 'images/pnb.jpg'%}" width="100" align="centre">
<h1> we warmly Welcomes you.. </h1>
<img src="{%static 'images/secure.jpg'%}" width="400" align="left">
<img src="{%static 'images/internet.jpg'%}" width="400" align="right">


</center>
{%endblock%}
</body>
</html>