<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if data_list %}
    <table align="center" border="2">
        <thead>

        <th> name</th>
        <th> age</th>
        <th>city</th>


        </thead>
        {% for e in data_list%}
        <tr>

            <td>{{e.Name}}</td>
            <td>{{e.age}}</td>
            <td>{{e.city}}</td>



            </td>
        </tr>
        {%endfor%}
    </table>
    {%else%}
    <h1> No Data Found</h1>
    {%endif%}


</head>


</body>
</html>